html, body {
    margin: 0;
}

.background-image {    
    position: fixed;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.part-1 {    
    background: white;
    position: absolute;
}  