html, body {
    margin: 0;
}

.background-image {
    position: fixed;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.part-1 {
    background: white;
    background-image: linear-gradient(45deg, white);
    transform: skewY(-45deg);
    position: absolute;
    z-index: 5;
/*   width: 125em; pour faire la diagonale blanche*/
/*    height: 50em;*/
}
