html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightgray;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 20px;
    padding: 20px;
  }


  section div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    padding: 20px 0;
  }

  .couleur{
    background-color: pink;
  }

  .burger{
    fill: yellow;
  }

  .burger:active{

  }

  .active:hover{
    stroke: pink;
    stroke-width : 3px;
  }
