html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightgray;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 20px;
    padding: 20px;
  }


  section div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    padding: 20px 0;
  }

  .couleur{
    fill: pink;
    stroke: yellow;
    fill-rule:evenodd;
  }

  .burger{
    rotate:(45deg);
    stroke: pink;
    }

    .part-1{
      transform:rotate(45deg);
      transform-origin: 5px 10px; //pour ajuster
      animation-name: part-1;
      animation-duration: 2s;
    }

@keyframes part-1 {
  0%{
    transform:rotate(0deg);
  } 100%{
    transform:rotate(45deg);
  }
}
  .part-2{
    opacity: 0;
    animation-name: part-2;
    animation-duration: 2s;
  }

@keyframes part-2 {

  0% {
    opacity:1;
  } 50% {
    opacity: 0.5;
  } 100%{
    opacity:0;
  }

}

  .part-3{
    transform: rotate(-45deg);
    transform-origin: 5px 14px; //pour ajuster

    animation-name: part-3;
  }

  @keyframes part-2 {
    0%{
      transform:rotate(0deg);
    } 100%{
      transform:rotate(45deg);
    }
  }
  .burger::before, .burger::after{
    content:" ";
    transform:translateY(-8px);
  }

  .burger-cross::before, .burger-cross::after{
    transform-origin: 50% 50%;
  }

  .burger-cross{
    transition: fill 0.5s, transform 0.5s;
    position: relative;
   z-index: 1;
   fill: pink;
   stroke-width: 1px;
   stroke: yellow;
   /* stroke-dashoffset: 170; */
   stroke-dasharray: 170;
   transition: stroke-dashoffset 0.5s;
  }


  .burger-cross.is-opened{
    stroke-dashoffset: 0;
  }

  .burger-cross.is-opened::before{
    transform: translate(0) rotate(45deg);
  }

  .burger-cross.is-opened::after{
    transform: translate(0) rotate(-45deg);
  }


  .active:hover{
    stroke: pink;
    stroke-width : 3px;
    fill: yellow;
  }
